*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: beige;
    width: 100%;
    height: 100%;
}
#main-heading{
    padding-left: 30px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(300deg ,blue , green);
    font-size: 50px;
}
#heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 10px;
}
#content
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-top: 25px;
    margin: 20px;
}
hr{
    margin-bottom: 10px;
    size: 4px;
    color: black;
}
#images{
    border-radius: 20px;
    margin:10px;
}
#sub-heading{
    font-size: larger;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}
pre{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 10px ;
}
img{
    border-radius: 20px;
}